<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (title, lastPage, username, content)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Document Manager</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="header">
    <a th:unless="${#strings.isEmpty(lastPage)}" th:href="@{${lastPage}}" class="back">back</a>
    <div th:unless="${#strings.isEmpty(username)}" class="header-right">
        <div th:text="${username}" class="user">Unknown</div>
        <a th:href="@{/logout}" class="logout">logout</a>
    </div>
    <h1 th:text="${title}" class="title" style="margin-block-start: 0;">Document Manager Page</h1>
</div>
<div th:replace="${content}">
    <p>Content to be replaced.</p>
</div>
</body>
</html>