<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (title, links, lastPage, header, content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Document Manager</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" />
    <th:block th:replace="${links}" />
</head>
<body>
    <div class="header">
        <a th:unless="${#strings.isEmpty(lastPage)}" th:href="@{${lastPage}}" class="back">back</a>
        <div class="header-right">
            <div th:text="${session.user.username()}" class="user">Unknown</div>
            <a th:href="@{/logout}" class="logout">logout</a>
        </div>
        <h2 th:text="${header}" class="title">Document Manager Page</h2>
    </div>
    <div th:replace="${content}">
        <p>Content to be replaced.</p>
    </div>
</body>
</html>