<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="fragments/main.html :: layout ('Documents', '/home', ${session.user.username()}, ~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
</head>
<body>
<div class="container">
    <h3 th:text="'Documents inside the subfolder ' + ${subFolder.name()} + ':'">Documents</h3>
    <p th:if="${documents.isEmpty()}">Empty</p>
    <ul>
        <li th:each="document : ${documents}">
            <div th:text="${document.name} + '.' + ${document.format()}"></div>
            <a th:href="@{/document(documentId=${document.id})}">Details</a>
            <a th:href="@{/move-document(documentId=${document.id})}">Move</a>
        </li>
    </ul>
</div>
</body>
</html>