<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="fragments/main.html :: layout('Home Page', ${move} ? '/documents?subFolder=' + ${fromSubFolder.id()} : ~{}, ${session.user.username()}, ~{::body})" lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<div class="container">
    <div th:switch="${move}">
        <div th:case="false">
            <a th:href="@{/content-management}" style="float: right">Edit</a>
            <h3>Folders:</h3>
            <p th:if="${folders.isEmpty()}">Empty</p>
            <ul>
                <li th:each="folder : ${folders}" th:class="Folder">
                    <div th:text="${folder.key.name}"></div>
                    <ul th:unless="${folder.value.isEmpty()}">
                        <li th:each="subFolder : ${folder.value}">
                            <a th:text="${subFolder.name}" th:href="@{/documents(subFolder=${subFolder.id})}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div th:case="true">
            <h3 th:text="'You are moving the document ' + ${document.name} + ' from the subfolder ' + ${fromSubFolder.name()} + '.'"></h3>
            <ul>
                <li th:each="folder : ${folders}">
                    <div th:text="${folder.key.name}"></div>
                    <ul th:unless="${folder.value.isEmpty()}">
                        <li th:each="subFolder : ${folder.value}">
                            <p th:if="${subFolder.id == fromSubFolder.id()}" style="color: red"
                               th:text="${subFolder.name}"></p>
                            <form th:if="${subFolder.id != fromSubFolder.id()}" action="#" method="POST" class="move-form">
                                <button type="submit" name="selectedSubFolder" value="" th:value="${subFolder.id}"
                                        th:text="${subFolder.name}">Subfolder</button>
                                <input type="hidden" id="documentId" name="documentId" value="" th:value="${document.id}">
                            </form>
                            <!--<a th:if="${subFolder.id != fromSubFolder.id()}" th:href="@{/move-document(documentId=${document.id}, selectedSubFolder=${subFolder.id})}"
                               th:text="${subFolder.name}">Move</a>-->
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>